/* .table {
    border-collapse: collapse;
    width: 100%;
}
.table td, .table th {
    padding: 8px;
} 

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn {padding:5px 15px; background:#F0F0F0; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn:hover {background-color: #DCDCDC;} */
/*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/

/* 
.login_form {
    width: 80%;
    position: center;
    vertical-align: middle;
    padding:12px 20px;
    margin: auto;
    padding: 10px;
    background-color: #F5F5F5;
}

.login_field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;;
}

#submit_login {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#submit_login:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

#forgot_pwd {
  cursor: pointer;
  float: right;
  font-size: small;
}

.login{
  width: 30%;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

body {
    font-family: "Open Sans", sans-serif;
}


.table {
  border-collapse: collapse;
  width: 100%;
}
.table td, .table th {
  padding: 8px;
} 

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
}

.highlight tr:hover {background-color:#F8F8F8;}

.highlight td, .highlight th {
    text-align: center;
}

.btn {padding:5px 15px; background:#F0F0F0; border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  padding-top: 8px;
  padding-bottom: 8px;
}

.align_right {
  text-align:right;
}


 */



:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  /* background-image: url('images/login_bg.jpg'); */
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #554957;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}




/* 渐变色背景 */
body.gradiantBg{
	background: linear-gradient(-45deg, #ee7752, #5000e4, #23a6d5, #23d5ab,  #9beb1a, #f32451);
	background-size: 400% 400%;
	animation: gradient 35s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
